{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container content">
  <div class="row-fluid">
    <div class="span4 login-box">
      <h2>Log in</h2>
      <form method="post" action="{% url 'auth_login' %}">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Login" class="btn btn-success" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
    <div class="span4">
      <h2>New user?</h2>
    </div>
    <div class="span4">
      <h2>Latest books</h2>
    </div>
  </div>
</div>

{% endblock %}
