{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block class_root %}profile-page{% endblock %}

{% block content %}
<div class="container content">
  <div class="row-fluid">
    <div class="span2">
      <img src="http://placekitten.com/170/170" alt="" class="avatar">
      <a href="#" class="btn btn-large btn-block btn-success">Follow</a>
      <h3>Tags</h3>
      <ul>
        <li><a href="">books</a></li>
      </ul>
    </div>
    <div class="span7">
      d
    </div>
    <div class="span3">
    </div>
  </div>
</div>
{% endblock %}