$midnight_blue: #2c3e50;
$belize_hole: #2980b9;
$pumpkin: #d35400;
$sun_flower: #F1C40F;

body {

}
.content {
    margin-top: 90px;
}

.login-box {


}

.nav {
    span {
        color: $sun_flower;
        display: block;
        padding: 12px 15px 15px;
    }
}

.alert {
    margin-top:47px;
}

.profile-page {
    .avatar {
        margin-bottom: 25px;
    }
}

.login-signup-page {
    .box.active {
        background: #EEE;
    }
    .box {
        padding: 0px 20px;
    }
}


.cf:before, .cf:after{
      content:"";
      display:table;
    }

    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }

    /*-------------------------------------*/

.form-wrapper {
    width: 450px;
    padding: 5px;
    margin: 20px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    input {
        width: 330px;
        height: 20px;
        padding: 10px 5px;
        float: left;
        font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
        margin-bottom: 0px;
    }

    input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }

    input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }

    input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    button {
        overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 110px;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #d83c3c;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }

    button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #d83c3c transparent;
        top: 12px;
        left: -6px;
    }

    button:hover{
        background: #e54040;
    }

    button:active, button:focus{
        background: #c42f2f;
    }

    button:hover:before{
        border-right-color: #e54040;
    }

    button:focus:before{
        border-right-color: #c42f2f;
    }

    button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }


}